<tr id="row_component_{{ entity.id }}">

	<td>
    	<a href="{{ path('component_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.components.tooltip.name{% endtrans %}">
    		{{ entity.name }}
   		</a>
    </td>
    <td class="mlab_td_align">{{ entity.version }}</td>
    <td>{{ entity.description }}</td>
    <td>{{ entity.groups|join(", ") }}</td>
    <td><input type="checkbox" checked="{{ entity.enabled == true }}"></td>
    
    <td>
		<a href="{{ path('component_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.components.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
	</td>

</tr>