{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
<tr id="row_component_{{ entity.id }}">

	<td>{{ entity.name }}</td>
    <td class="mlab_align_center">{{ entity.version }}</td>
    <td class="mlab_max_width_long">{{ entity.description }}</td>
    <td class="mlab_max_width_medium">
        {% if entity.groupNames is empty %} <!-- If no group -->
            <a href="{{ path('componentgroup_edit', { 'component_id': entity.id }) }}" title="{% trans %}app.admin.components.tooltip.group{% endtrans %} '{{ entity.name }}'"> 
            {% trans %}app.admin.components.no.group{% endtrans %}
        {% else %} <!-- If have groups -->
            <a href="{{ path('componentgroup_edit', { 'component_id': entity.id }) }}" title="{% trans %}app.admin.components.tooltip.group{% endtrans %} '{{ entity.name }}'">  
                {{ entity.groupNames|raw }}
        {% endif %}  
            </a>
    </td>
    {% if is_granted("ROLE_SUPER_ADMIN") %} <!-- Show this column only for ROLE_SUPER_ADMIN  -->
        <td>
            <a href="{{ path('component_toggle_state', { 'id': entity.id }) }}" class="mlab_icon_{{ entity.enabled == true ? "enabled" : "disabled" }}" ></a>
        </td>
        <td>
            {% if entity.canDelete %}
                <a href="{{ path('component_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.components.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
            {% endif %}
        </td>
    {% endif %}

</tr>