<tr id="row_component_{{ entity.id }}">

	<td>{{ entity.name }}</td>
    <td class="mlab_align_center">{{ entity.version }}</td>
    <td class="mlab_td_max_size_2">{{ entity.description }}</td>
    <td class="mlab_td_max_size">
        <a href="{{ path('component_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.components.tooltip.group{% endtrans %} '{{ entity.name }}'">
            {{ entity.groups|join(", ") }}
        </a>
    </td>
    <td class="mlab_align_center"><input type="checkbox" checked="{{ entity.enabled == true }}" title="{% if entity.enabled %}{% trans %}app.admin.templates.tooltip.disabled{% endtrans %} {% else %}{% trans %}app.admin.templates.tooltip.enabled{% endtrans %}{% endif %} '{{ entity.name }}'"></td>
    
    <td>
		<a href="{{ path('component_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.components.tooltip.delete{% endtrans %} '{{ entity.name }}'"></a>
	</td>

</tr>