<tr id="row_component_{{ entity.id }}">
    <td>{{ entity.name }}</td>
    <td>{{ entity.version }}</td>
    <td>{{ entity.description }}</td>
    <td>{{ entity.groups|join(":") }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('component_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('component_edit', { 'id': entity.id }) }}">edit</a>
        </li>
    </ul>
    </td>
</tr>