<tr id="row_help_{{ entity.id }}">
    <td>{{ entity.route }}</td>
    <td>{{ entity.message }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('help_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('help_edit', { 'id': entity.id }) }}">edit</a>
        </li>
    </ul>
    </td>
</tr>
