<tr id="row_help_{{ entity.id }}">
    
    <td>
        <a href="{{ path('help_edit', { 'id': entity.id }) }}" title="{% trans %}app.system.admin.help.tooltip.route{% endtrans %}">
            {{ entity.route }}
        </a>  
    </td>
    <td class="mlab_max_width_long mlab_min_width_medium ">{{ entity.message }}</td>
    <td>
        <a href="{{ path('help_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.system.admin.help.tooltip.delete{% endtrans %} '{{ entity.route }}'"></a>
	</td>
</tr>
