{% extends "SinettMLABBuilderBundle:App:new/layout.html.twig" %}
{# class="toolbox"  left = $("#t1").outerWidth() + $("#t2").outerWidth() #}
{% block content %}
    <div class="header">
        <nav class="nav-main" id="mlab_navbar">
            <ul class="tabs">
                <li class="active"><a href="#tab1">App</a>
                    <div class="toolbox">
                        {{ include( 'SinettMLABBuilderBundle:App:new/tabs_file.html.twig' ) }}
                    </div>
                </li>
                <li><a href="#tab2">Insert</a>
                    <div class="toolbox" id="mlab_toolbar_components">
                        {{ include( 'SinettMLABBuilderBundle:App:new/tabs_insert.html.twig' ) }}
                    </div>
                </li>
                <li><a href="#tab3">Format</a>
                    <div class="toolbox" id="mlab_toolbar_for_components">
                        {{ include( 'SinettMLABBuilderBundle:App:new/tabs_format.html.twig' ) }}
                    </div>
                </li>
                <li><a href="#tab4">Help</a>
                    <div class="toolbox">
                        {{ include( 'SinettMLABBuilderBundle:App:new/tabs_help.html.twig' ) }}
                    </div>
                </li>
            </ul>
        </nav>
        <div class="logo">MLAB</div>
        <div class="nav-right">
            <div class="toolbox-menu warnings">
                <button data-open-menu>
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-exclamation fa-stack-1x"></i>
                    </span>
                </button>
                <div class="menu no-padding">
                    <div class="fieldset">
                        <p>Application requires Network</p>
                    </div>
                    <div class="fieldset">
                        <p>Application requires Internet</p>
                    </div>
                    <div class="fieldset">
                        <p>Application requires API configuration</p>
                    </div>
                </div>
            </div>
            <div class="app-info" >
                Editing: <span id="mlab_statusbar_appname"></span>
                <a href="{{ path('app_builder_index')}}" class="view-all-apps" target="_top" title='{% trans %}build_app.menu.tooltip.back.app.list{% endtrans %}' >View all apps</a>
            </div>

            <div class="toolbox-menu">
                <button data-open-menu class="user-profile">
                    <i class="fas fa-user"></i>
                </button>
                <div class="menu">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p>You are logged in as: {{ app.user.username }}</p>
                        <br>
                        <a class="modal-btn" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>

                    {% else %}

                        <p>{{ 'layout.login.headline'|trans({}, 'FOSUserBundle') }}</p>

                        {% block fos_user_content %}
                        {% endblock fos_user_content %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% set activePage %}
{% for i in 0..3 %}
<li class="display-alt">
    <div data-open-page="test2">
        <div class="preview">
            <img src="https://via.placeholder.com/100x150/FFFFFF/000000" />
        </div>
        <p>Page Title 1</p>
    </div>
    <!-- <button class="delete"></button> -->
    <button class="delete-alt"><i class="far fa-trash-alt"></i></button>
</li>
{% endfor %}
{% endset %}

{% set deletedPage %}
{% for i in 0..3 %}
<li>
<div class="page">
    <div class="image">
        <img src="https://via.placeholder.com/100x150/FFFFFF/000000" />
    </div>
    <p>Page Title 1</p>
</div>
</li>
{% endfor %}
{% endset %}

    <div class="main">
        <div class="nav-pages">
            <div class="pages-wrapper">
            <div class="deleted">
                <button class="close">&times;</button>
                <div class="title">Deleted</div>
                <ul class="list-pages with-preview">
                    {{ deletedPage }}
                    {{ deletedPage }}
                    {{ deletedPage }}
                </ul>
            </div>
            <div class="active">
                    <div class="change-display">
                        <input type="radio" name="pages-list-display" value="with-preview" id="with-preview" checked/>
                        <label for="with-preview"><i class="fas fa-th-list fa-fw"></i></label>
                        <input type="radio" name="pages-list-display" value="with-titles" id="with-titles" />
                        <label for="with-titles"><i class="fas fa-bars fa-fw"></i></label>
                    </div>
                    <div class="level-name">Top level pages</div>
                    <ul class="list-pages with-preview">
                        {{ activePage }}
                        <li class="display-alt">
                            <div class="level-name change-name">second level pages
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                            <ul>
                                {{ activePage }}
                                <li class="display-alt">
                                    <div class="level-name change-name">Third level pages
                                        <i class="fas fa-pencil-alt"></i>
                                    </div>
                                    <ul>
                                        {{ activePage }}
                                    </ul>
                                </li>
                                {{ activePage }}
                            </ul>
                        </li>
                        {{ activePage }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="builder">
            <ul class="breadcrumb">
                <li><a href="#">Top Level page</a></li>
                <li><a href="#">Second level</a></li>
                <li><a href="#">Third level</a></li>
                <li>Page name 1</li>
            </ul>
            <div id="mlab_editor_chrome" class="app-container">
                <div id='mlab_editable_area_placeholder'></div>
            </div>
        </div>
    </div>


{% set restoreDeletedComponent %}
{% for i in 0..12 %}
<li>
    <input type="checkbox" value="Bike" id="comp-{{ i }}">
    <label class="component" for="comp-{{ i }}">
        <div class="preview">
            <img src="https://via.placeholder.com/150x100/FFFFFF/000000" />
        </div>
        <div>
            <strong>Map</strong><br>
            Deleted: 01.01.19 <br>
            Page: Page 1
        </div>
    </label>
</li>
{% endfor %}
{% endset %}

    <div id="mlab_dialog_delete" class="modal">
        <div class="modal-title"> {% trans %}build_app.dialog.delete.title{% endtrans %}
            <button data-close-modal class="close">&times;</button>
        </div>
        <div class="modal-content">
            <p>{% trans %}build_app.dialog.delete.text{% endtrans %}</p>
        </div>
        <div class="modal-bottom">
            <button data-close-modal class="modal-btn secondary">{% trans %}mlab.dt.api.js.getLink.cancel{% endtrans %}</button>
            <button data-close-modal class="modal-btn" onclick="mlab.dt.design.component_delete(false);">{% trans %}app.admin.components.tooltip.delete{% endtrans %}</button>
        </div>
    </div>

    <div id="restore-components" class="modal">
        <div class="modal-title">Restore deleted components
            <button data-close-modal class="close">&times;</button>
        </div>
        <div class="modal-content">
            <ul class="restore-deleted-pages-list">
                {{ restoreDeletedComponent }}
            </ul>
        </div>
        <div class="modal-bottom">
            <button data-close-modal class="modal-btn secondary">Cancel</button>
            <button class="modal-btn">Restore</button>
        </div>
    </div>

    <div id="new-page" class="modal">
        <div class="modal-title">Add new page
            <button data-close-modal class="close">&times;</button>
        </div>
        <div class="modal-content">
            <ul class="add-new-page-levels">
                <li>
                    <input type="radio" name="new-page-level" value="top-level" id="top-level-new-page" checked>
                    <label class="component" for="top-level-new-page">Add new top level page</label>
                    <ul>
                        <li>
                            <input type="radio" name="new-page-level" value="second-level" id="second-level-new-page">
                            <label class="component" for="second-level-new-page">Add new second level page</label>
                            <ul>
                                <li>
                                    <input type="radio" name="new-page-level" value="third-level" id="third-level-new-page">
                                    <label class="component" for="third-level-new-page">Add new third level page</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="modal-bottom">
            <button data-close-modal class="modal-btn secondary">Cancel</button>
            <button class="modal-btn">Next</button>
        </div>
    </div>
{% endblock %}