{% extends "SinettMLABBuilderBundle:App:new/layout.html.twig" %}

{% block content %}
    <div class="header">
        <div class="logo">MLAB</div>
        <nav class="nav-main">
            <ul class="tabs">
                <li class="active"><a href="#tab1">App</a>
                    <div class="toolbox">
                        <div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <div class="v-separator"></div>
                        </div>
                    </div>
                </li>
                <li><a href="#tab2">Insert</a>
                    <div class="toolbox">
                        <div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <div class="v-separator"></div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                        </div>
                    </div>
                </li>
                <li><a href="#tab3">Format</a>
                    <div class="toolbox">
                        <div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <div class="v-separator"></div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="nav-right">
            <button class="warning"></button>
            <div class="app-info">
                You are working on: APP NAME HERE
                <a href="#" class="view-all-apps"> View all apps</a>
            </div>

            <div class="user-profile">
                <i class="fi flaticon-user"></i>
                Username
                <div class="arrow"></div>
            </div>
        </div>

    </div>
    <div class="main">
        <div class="nav-pages">
            <div class="level-name">Top level pages</div>
            <ul class="list-pages with-preview">
                {% set page %}
                <li>
                    <button class="delete"></button>
                    <div class="page">
                        <img src="https://via.placeholder.com/100x150" />
                        <p>Page Title 1</p>
                    </div>
                </li>
                {% endset %}
                {% for i in 0..10 %}
                    {{ page }}
                {% endfor %}
                </li>
                <li>
                    <div class="level-name">second level pages</div>
                    <ul>
                        {% for i in 0..3 %}
                            {{ page }}
                        {% endfor %}
                        <li>
                            <div class="level-name">Third level pages</div>
                            <ul>
                                {% for i in 0..3 %}
                                    {{ page }}
                                {% endfor %}
                            </ul>
                        </li>
                        {% for i in 0..2 %}
                            {{ page }}
                        {% endfor %}
                    </ul>
                </li>
                {% for i in 0..3 %}
                    {{ page }}
                {% endfor %}
            </ul>
        </div>
        <div class="builder">
            <ul class="breadcrumb">
                <li><a href="#">Top Level page</a></li>
                <li>Page name 1</li>
            </ul>
            <div class="app-container">
                
            </div>
        </div>
    </div>
{% endblock %}