{% extends "SinettMLABBuilderBundle:App:new/layout.html.twig" %}

{% block content %}
    <div class="header">
        <nav class="nav-main">
            <ul class="tabs">
                <li class="active"><a href="#tab1">App</a>
                    <div class="toolbox">
                        <div>
                            <button data-new-page class="toolbox-btn btn-lg">
                                <span class="badge badge-top-right badge-plus">+</span>
                                <i class="far fa-file"></i> 
                                New Page
                            </button>
                            <button data-new-section class="toolbox-btn btn-lg">
                                <span class="badge badge-top-right badge-plus">+</span>
                                <i class="fas fa-book-open"></i>
                                New Section
                            </button>
                            <div class="v-separator"></div>
                            <div class="toolbox-menu">
                                <button data-open-menu data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text " class="toolbox-btn btn-lg">
                                    <i class="far fa-file"></i> Settings
                                </button>
                                <div class="menu">

                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg">
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                </div>
                            </div>
                            <button data-open-modal="new-page" class="toolbox-btn btn-lg">
                                <span class="badge badge-bottom-right badge-caret">
                                    <i class="fas fa-caret-down"></i>
                                </span>
                                <i class="far fa-file"></i> 
                                New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn btn-lg">
                                <i class="far fa-file"></i> New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn btn-lg selected">
                                <i class="far fa-file"></i> New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                <i class="far fa-file"></i> New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn">
                                <i class="far fa-file"></i> New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn selected">
                                <i class="far fa-file"></i> New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn" disabled>
                                <i class="far fa-file"></i> New Page
                            </button>

                            <div class="v-separator"></div>
                            <div class="toolbox-menu">
                                <button data-open-menu data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text " class="toolbox-btn btn-lg">
                                    <i class="far fa-file"></i> New Page
                                </button>
                                <div class="menu no-padding">
                                    <fieldset>
                                        <div class="search">
                                            <div class="form-input">
                                                <input placeholder="Find a location on the map" type="text" name="search" autocomplete="off" style="width:195px">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Center of map</legend>
                                        <p>Center of map: Lillestrøm</p>
                                        <p>Change center of map to current location</p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Markers</legend>
                                        <select multiple>
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="opel">Opel</option>
                                            <option value="audi">Audi</option>
                                        </select>
                                        <p>Add marker at current location</p>
                                        <p>Remove selected markers</p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Map attributes</legend>
                                        <label><input type="radio" name="mapAttributes" value="option1"> option 1</label>
                                        <label><input type="radio" name="mapAttributes" value="option2"> option 2</label>
                                        <label><input type="radio" name="mapAttributes" value="option3"> option 3</label>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="v-separator"></div>
                            <div class="search">
                                <label for="search">Search for a component:</label>
                                <div class="form-input">
                                    <input id="search" type="text" name="search" autocomplete="off" style="width: 110px;">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <div class="v-separator"></div>
                            <button data-open-deleted class="toolbox-btn">
                                <i class="far fa-trash-alt"></i> Deleted
                            </button>
                            <button data-open-modal="restore-components" class="toolbox-btn">
                                Restore components
                            </button>
                            <div class="toolbox-menu">
                                <button data-open-menu class="toolbox-btn btn-lg">Save</button>
                                <div class="menu">
                                    <h1 class="toolbox-text">Save <span class="badge badge-top-right badge-plus">+</span></h1>
                                    <h2 class="toolbox-text">Save Save Save <span class="badge badge-top-right badge-plus">+</span></h2>
                                    <p class="toolbox-text">SaveSave SaveSaveSave <span class="badge badge-top-right badge-plus">+</span></p>
                                </div>
                            </div>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="toolbox-menu">
                                <button data-open-menu data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text " class="toolbox-btn btn-lg">
                                    <i class="far fa-file"></i> Settings
                                </button>
                                <div class="menu">

                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg">
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                    <button data-open-modal="new-page" class="toolbox-btn btn-lg" disabled>
                                        <i class="far fa-file"></i> New Page
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#tab2">Insert</a>
                    <div class="toolbox">
                        <div>
                            <button data-open-modal="new-page" class="toolbox-btn">
                                <i class="far fa-file"></i> New Page
                            </button>
                            <button data-open-modal="new-page" class="toolbox-btn">
                                <i class="far fa-file"></i> New Page
                            </button>
                        </div>
                    </div>
                </li>
                <li><a href="#tab3">Format</a>
                    <div class="toolbox">
                        <div>
                            <button data-open-modal="new-page" class="toolbox-btn">
                                <i class="far fa-file"></i> New Page
                            </button>
                            <div class="v-separator"></div>
                            <button data-open-modal="new-page" class="toolbox-btn">
                                <i class="far fa-file"></i> New Page
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="logo">MLAB</div>
        <div class="nav-right">
            <div class="toolbox-menu warnings">
                <button data-open-menu>
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-exclamation fa-stack-1x"></i>
                    </span>
                </button>
                <div class="menu no-padding">
                    <div class="fieldset">
                        <p>Application requires Network</p>
                    </div>
                    <div class="fieldset">
                        <p>Application requires Internet</p>
                    </div>
                    <div class="fieldset">
                        <p>Application requires API configuration</p>
                    </div>
                </div>
            </div>
            <div class="app-info">
                You are working on: APP NAME HERE
                <a href="#" class="view-all-apps"> View all apps</a>
            </div>

            <div class="toolbox-menu">
                <button data-open-menu class="user-profile">
                    <i class="fas fa-user"></i>
                    Username
                </button>
                <div class="menu">
                    <a href="javascript:void(0)" class="toolbox-text">Logout</a>
                </div>
            </div>
        </div>

    </div>
{% set activePage %}
{% for i in 0..3 %}
<li class="display-alt">
    <div data-open-page>
        <div class="preview">
            <img src="https://via.placeholder.com/100x150/FFFFFF/000000" />
        </div>
        <p>Page Title 1</p>
    </div>
    <!-- <button class="delete"></button> -->
    <button class="delete-alt"><i class="far fa-trash-alt"></i></button>
</li>
{% endfor %}
{% endset %}

{% set deletedPage %}
{% for i in 0..3 %}
<li>
<div class="page">
    <div class="image">
        <img src="https://via.placeholder.com/100x150/FFFFFF/000000" />
    </div>
    <p>Page Title 1</p>
</div>
</li>
{% endfor %}
{% endset %}

    <div class="main">
        <div class="nav-pages">
            <div class="pages-wrapper">
            <div class="deleted">
                <button class="close">&times;</button>
                <div class="title">Deleted</div>
                <ul class="list-pages with-preview">
                    {{ deletedPage }}
                    {{ deletedPage }}
                    {{ deletedPage }}
                </ul>
            </div>
            <div class="active">
                    <div class="change-display">
                        <input type="radio" name="pages-list-display" value="with-preview" id="with-preview" checked/>
                        <label for="with-preview"><i class="fas fa-th-list fa-fw"></i></label>
                        <input type="radio" name="pages-list-display" value="with-titles" id="with-titles" />
                        <label for="with-titles"><i class="fas fa-bars fa-fw"></i></label>
                    </div>
                    <div class="level-name">Top level pages</div>
                    <ul class="list-pages with-preview">
                        {{ activePage }}
                        <li class="display-alt">
                            <div class="level-name change-name">second level pages
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                            <ul>
                                {{ activePage }}
                                <li class="display-alt">
                                    <div class="level-name change-name">Third level pages
                                        <i class="fas fa-pencil-alt"></i>
                                    </div>
                                    <ul>
                                        {{ activePage }}
                                    </ul>
                                </li>
                                {{ activePage }}
                            </ul>
                        </li>
                        {{ activePage }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="builder">
            <ul class="breadcrumb">
                <li><a href="#">Top Level page</a></li>
                <li><a href="#">Second level</a></li>
                <li><a href="#">Third level</a></li>
                <li>Page name 1</li>
            </ul>
            <div class="app-container">
                
            </div>
        </div>
    </div>


{% set restoreDeletedComponent %}
{% for i in 0..12 %}
<li>
    <input type="checkbox" value="Bike" id="comp-{{ i }}">
    <label class="component" for="comp-{{ i }}">
        <div class="preview">
            <img src="https://via.placeholder.com/150x100/FFFFFF/000000" />
        </div>
        <div>
            <strong>Map</strong><br>
            Deleted: 01.01.19 <br>
            Page: Page 1
        </div>
    </label>
</li>
{% endfor %}
{% endset %}
    <div id="restore-components" class="modal">
        <div class="modal-title">Restore deleted components
            <button data-close-modal class="close">&times;</button>
        </div>
        <div class="modal-content">
            <ul class="restore-deleted-pages-list">
                {{ restoreDeletedComponent }}
            </ul>
        </div>
        <div class="modal-bottom">
            <button data-close-modal class="modal-btn secondary">Cancel</button>
            <button class="modal-btn">Restore</button>
        </div>
    </div>

    <div id="new-page" class="modal">
        <div class="modal-title">Add new page
            <button data-close-modal class="close">&times;</button>
        </div>
        <div class="modal-content">
            <ul class="add-new-page-levels">
                <li>
                    <input type="radio" name="new-page-level" value="top-level" id="top-level-new-page" checked>
                    <label class="component" for="top-level-new-page">Add new top level page</label>
                    <ul>
                        <li>
                            <input type="radio" name="new-page-level" value="second-level" id="second-level-new-page">
                            <label class="component" for="second-level-new-page">Add new second level page</label>
                            <ul>
                                <li>
                                    <input type="radio" name="new-page-level" value="third-level" id="third-level-new-page">
                                    <label class="component" for="third-level-new-page">Add new third level page</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="modal-bottom">
            <button data-close-modal class="modal-btn secondary">Cancel</button>
            <button class="modal-btn">Next</button>
        </div>
    </div>
{% endblock %}