{% extends "SinettMLABBuilderBundle:App:new/layout.html.twig" %}

{% block content %}
    <div class="header">
        <div class="logo">MLAB</div>
        <nav class="nav-main">
            <ul class="tabs">
                <li class="active"><a href="#tab1">App</a>
                    <div class="toolbox">
                        <div>
                            <div class="toolbox-menu">
                                <button data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text " data-open-menu class="toolbox-btn btn-lg like badge badge-caret badge-bottom-right">Save</button>
                                <div class="menu">
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                </div>
                            </div>
                            <div class="v-separator"></div>
                            <div class="search">
                                <label for="search">Search for a component:</label>
                                <div class="form-input">
                                    <input id="search" type="text" name="search" autocomplete="off">
                                </div>
                            </div>
                            <div class="v-separator"></div>
                            <button data-open-deleted class="toolbox-btn btn-lg like badge badge-plus badge-top-right selected">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                                <button data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text " data-open-menu class="toolbox-btn btn-lg like badge badge-caret badge-bottom-right">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <div class="toolbox-menu">
                                <button data-open-menu class="toolbox-btn btn-lg like badge badge-caret badge-bottom-right">Save</button>
                                <div class="menu">
                                    <h1 class="toolbox-text badge badge-plus badge-center-right">Save</h1>
                                    <h2 class="toolbox-text badge badge-plus badge-center-right">Save Save Save </h2>
                                    <p class="toolbox-text badge badge-plus badge-center-right">SaveSave SaveSaveSave</p>
                                </div>
                            </div>
                            <button class="toolbox-btn like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="v-separator"></div>
                            <div class="toolbox-menu">
                                <button data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text " data-open-menu class="toolbox-btn btn-lg like badge badge-caret badge-bottom-right">Save</button>
                                <div class="menu">
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                    <button class="toolbox-btn btn-lg like">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#tab2">Insert</a>
                    <div class="toolbox">
                        <div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <div class="v-separator"></div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                        </div>
                    </div>
                </li>
                <li><a href="#tab3">Format</a>
                    <div class="toolbox">
                        <div>
                            <button class="toolbox-btn btn-lg like badge-plus badge-top-right">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn btn-lg like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <button class="toolbox-btn like">Save</button>
                            <div class="v-separator"></div>
                            <button class="toolbox-btn btn-lg like">Save</button>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="nav-right">
            <button class="warning" data-tooltip="text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text "></button>
            <div class="app-info">
                You are working on: APP NAME HERE
                <a href="#" class="view-all-apps"> View all apps</a>
            </div>

            <div class="user-profile">
                <i class="fi flaticon-user"></i>
                Username
                <div class="arrow"></div>
            </div>
        </div>

    </div>
{% set activePage %}
{% for i in 0..3 %}
<li>
<!-- <button class="delete"></button> -->
<button class="delete-alt"></button>
<div class="page">
<img src="https://via.placeholder.com/100x150/FFFFFF/000000" />
<p>Page Title 1</p>
</div>
</li>
{% endfor %}
{% endset %}

{% set deletedPage %}
{% for i in 0..3 %}
<li>
<div class="page">
    <div class="image">
        <img src="https://via.placeholder.com/100x150/FFFFFF/000000" />
    </div>
    <p>Page Title 1</p>
</div>
</li>
{% endfor %}
{% endset %}

    <div class="main">
        <div class="nav-pages">
        <div class="pages-wrapper deleted-open">
        <div class="deleted">
            <button class="close">&times;</button>
            <div class="title">Deleted</div>
            <ul class="list-pages with-preview">
                {{ deletedPage }}
                {{ deletedPage }}
                {{ deletedPage }}
            </ul>
        </div>
        <div class="active">
                <div class="level-name">Top level pages</div>
                <ul class="list-pages with-preview">
                    {{ activePage }}
                    <li>
                        <div class="level-name">second level pages</div>
                        <ul>
                            {{ activePage }}
                            <li>
                                <div class="level-name">Third level pages</div>
                                <ul>
                                    {{ activePage }}
                                </ul>
                            </li>
                            {{ activePage }}
                        </ul>
                    </li>
                    {{ activePage }}
                </ul>
            </div>
        </div>
        </div>
        <div class="builder">
            <ul class="breadcrumb">
                <li><a href="#">Top Level page</a></li>
                <li>Page name 1</li>
            </ul>
            <div class="app-container">
                
            </div>
        </div>
    </div>
{% endblock %}