<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MLAB</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    
  {% block javascripts %}
      <script src="{{ asset('build/builder_new.js') }}"></script>
      <script type='text/javascript'>
          //these vars are generated from backend and are required for the initialisation of the mlab object later
          document.mlab_temp_vars = {locale: '{{ app.request.locale }}', app_id: {{ mlab_app_id }}, page_num: '{{ mlab_app_page_num }}', appbuilder_root_url: '{{ mlab_appbuilder_root_url }}' };
          _tr = {{ mlab_translations|raw }};
      </script>
  {% endblock %}
</head>

<body id="mlab_editor">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>