<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset("/css/jquery-ui.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/jquery-qtip.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/jquery.uploadfile.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/jquery.megamenu.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/mlab_all.css") }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="mlab_base">
    	<div class="mlab_min_page_width">
    		<div class="mlab_align_menu_elements">
	    		{% if app.user %}
	    			{{ render(controller('SinettMLABBuilderBundle:Menu:buildMenu', {'path': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) } )) }}
		    	{% endif %}
	    	<div class="container">
	 			{% block body %}{% endblock %}
	 		</div>
	        {% block javascripts %}
	        	<script src="{{ asset('/js/jquery-2.0.3.js') }}"></script>
	        	<script src="{{ asset('/js/jquery-ui.js') }}"></script>
	        	<script src="{{ asset('/js/jquery.uploadfile.js') }}"></script>
	        	<script src="{{ asset('/js/jquery-qtip.js') }}"></script>
	        	<script src="{{ asset('/js/jquery.megamenu.js') }}"></script>  
		        <script type="text/javascript">	 
			        $(document).ready(function() {
			        	jQuery("#mlab_megamenu").megamenu();
			        });
			    </script>
	        {% endblock %}
	        </div>
	        <div class="mlab_top_bar_back"></div>
	    </div>
        
        <div id="mlab_footer_devinfo">Developed by the Sinett project at FFI.no</div>
        
    </body>
</html>
