<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset("/css/jquery-ui.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/jquery.qtip.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/jquery.uploadfile.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/jquery.megamenu.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/mlab_reset_editor.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/mlab_editor.css") }}" rel="stylesheet" />
			
			
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body id="mlab_editor">
    	<div class="mlab_min_page_width">
    		<div class="mlab_align_menu_elements">
	    		{% if app.user %}
	    			{{ render(controller('SinettMLABBuilderBundle:Menu:buildMenu', {'path': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) } )) }}
		    	{% endif %}
	    	<div class="container">
	 			{% block body %}{% endblock %}
                <div style="clear: both;">&nbsp;</div>
	 		</div>
	        {% block javascripts %}
	        	<script src="{{ asset('/js/jquery-1.10.2.js') }}"></script>
                <script src="{{ asset('/js/jquery.mobile-1.4.0.js') }}"></script>
	        	<script src="{{ asset('/js/jquery-ui.js') }}"></script>
	        	<script src="{{ asset('/js/jquery.uploadfile.js') }}"></script>
	        	<script src="{{ asset('/js/jquery.qtip.js') }}"></script>
	        	<script src="{{ asset('/js/jquery.megamenu.js') }}"></script>  
	        	<script src="{{ asset('/js/ddslick.js') }}"></script>
                <script src="{{ asset('/js/jquery.qrcode-0.7.0.js') }}"></script>
                
		        <script type="text/javascript">	 
			        $(document).ready(function() {
			        	jQuery("#mlab_megamenu").megamenu();
                        $("#mlab_megamenu li:last").before(
                                "<li class='mlab_menu_top_children  mm-item' style='float: left;'>"+
                                "    <div id='mlab_buttons_item_manipulation' class='mlab_buttons_item_manipulation'>"+
                                "        <img id='mlab_button_up' src='/img/tools/up.png' class='mlab_tools' onclick='mlab_component_moveup();'>"+
                                "        <img id='mlab_button_down' src='/img/tools/down.png' class='mlab_tools' onclick='mlab_component_movedown();'>"+
                                "        <img id='mlab_button_undo' src='/img/tools/undo.png' class='mlab_tools mlab_tools_space' onclick='document.execCommand(\"undo\");'>"+
                                "        <img id='mlab_button_redo' src='/img/tools/redo.png' class='mlab_tools' onclick='document.execCommand(\"redo\");'>"+
                                "        <img id='mlab_button_edit' src='/img/tools/edit.png' class='mlab_tools' onclick='mlab_content_edit();'>"+
                                "        <img id='mlab_button_link' src='/img/tools/link.png' class='mlab_tools mlab_tools_space' onclick='mlab_content_link();'>"+
                                "        <img id='mlab_button_maximize' src='/img/tools/maximize.png' class='mlab_tools' onclick='mlab_content_maximize();'>"+
                                "        <img id='mlab_button_restore' src='/img/tools/restore.png' class='mlab_tools' onclick='mlab_content_restore();'>"+
                                "        <img id='mlab_button_delete' src='/img/tools/delete.png' class='mlab_tools mlab_tools_space' onclick='mlab_component_delete();'>"+
                                "    </div>"+
                                "</li>"+
                                "<li id='mlab_statusbar'><div id='mlab_statusbar_progressbar'>&nbsp;</div><div id='mlab_statusbar_temporary'>&nbsp;</div><div id='mlab_statusbar_permanent'>Ready</div></li>");
                        });
			    </script>
	        {% endblock %}
	        </div>
	        <div class="mlab_top_bar_back"></div>
	    </div>
    </body>
</html>
