<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset("/css/jquery-ui.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/jquery-qtip.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/jquery.uploadfile.css") }}" rel="stylesheet" />
			<link href="{{ asset("/css/mlab_reset_editor.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/mlab_editor_menu.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/mlab_editor.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/jquery.contextMenu.css") }}" rel="stylesheet" />
            <link href="{{ asset("/css/mlab_component_config.css") }}" rel="stylesheet" />
            
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/js/jquery-2.0.3.js') }}"></script>
            <script src="{{ asset('/js/jquery.mobile-1.4.0.js') }}"></script>
            <script src="{{ asset('/js/jquery.ui-1.10.3.js') }}"></script>
            <script src="{{ asset('/js/jquery.uploadfile-1.9.0.js') }}"></script>
            <script src="{{ asset('/js/jquery.qtip-2.2.0.js') }}"></script>
            <script src="{{ asset('/js/jquery.ddslick-1.0.0.js') }}"></script>
            <script src="{{ asset('/js/jquery.qrcode-0.7.0.js') }}"></script>
            <script src="{{ asset('/js/jquery.contextMenu-1.0.0.js') }}"></script>
            <script src="{{ asset('/js/jquery.ui.position.js') }}"></script>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    
    <body id="mlab_editor">
    	<div class="mlab_min_page_width">
    		<div class="mlab_align_menu_elements">
                {{ include( 'SinettMLABBuilderBundle:App:editor_menu.html.twig' ) }}
                <div class="container">
                    {% block body %}{% endblock %}
                    <div style="clear: both;">&nbsp;</div>
                </div>
	        </div>
	    </div>
    </body>
</html>
