{#    
 * This outputs the menu, menu is stored in database table menu
 * We check if an option has sub options before we output it, then we add an extra class used to display a down arrow
#}

<ul id="mlab_megamenu" class="megamenu">
	{% for menu_item in menus  %}
{# top level menus *with* children have extra div under and additional class #}
		{% if menu_item.children %}
			<li class='mlab_menu_top_children {{ menu_item.class }}'>
				<a class='header'>{{ menu_item.contentHtml }}</a>
				<div class='mlab_menu_content'>
					{% for menu_child_item in menu_item.children %}
						<div><a class='{{ menu_child_item.class}}' href='{{ menu_child_item.url }}'>{{ menu_child_item.contentHtml }}</a></div>
					{% endfor %}
				</div>
			</li>

		{% else %}
			<li class='{{ menu_item.class }}'>
				<div><a class='{{ menu_item.class}}' href='{{ menu_item.url }}'>{{ menu_item.contentHtml }}</a></div>
			</li>

		{% endif %}

    {% endfor %}
</ul>	  
<div style="clear: both;"></div>