{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    <h1>Menu list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Parentid</th>
                <th>Orderby</th>
                <th>Contenthtml</th>
                <th>Contentphp</th>
                <th>Class</th>
                <th>Help</th>
                <th>Filterrole</th>
                <th>Filterurl</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="row_group_{{ entity.id }}">
                <td>{{ entity.parentId }}</td>
                <td>{{ entity.orderBy }}</td>
                <td>{{ entity.contentHtml }}</td>
                <td>{{ entity.contentPhp }}</td>
                <td>{{ entity.class }}</td>
                <td>{{ entity.help }}</td>
                <td>{{ entity.filterRole }}</td>
                <td>{{ entity.filterUrl }}</td>
                <td>{{ entity.url }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('menu_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                    <li>
                        <a href="{{ path('menu_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
