<tr id="row_menu_{{ entity.id }}" class="{{ class }}">
    <td>{{ entity.contentHtml }}</td>
    <td>{{ entity.contentPhp }}</td>
    <td>{{ entity.help }}</td>
    <td>{{ entity.url }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('menu_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('menu_edit', { 'id': entity.id }) }}">edit</a>
        </li>
        {% if class == 'menu_parent' %}
	        <li>
	            <a href="{{ path('menu_new', { 'id': entity.id }) }}">Add sub menu</a>
	        </li>
        {% endif %}
    </ul>
    </td>
</tr>
