{#
@copyright Copyright (c) 2013-2020, Norwegian Defence Research Establishment (FFI)
@license Licensed under the Apache License, Version 2.0 (For the full copyright and license information, please view the /LICENSE_MLAB file that was distributed with this source code)
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

#}
<tr id="row_menu_{{ entity.id }}" class="{{ class }}">
    <td>{{ entity.contentHtml }}</td>
    <td>{{ entity.contentPhp }}</td>
    <td>{{ entity.help }}</td>
    <td>{{ entity.url }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('menu_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('menu_edit', { 'id': entity.id }) }}">edit</a>
        </li>
        {% if class == 'menu_parent' %}
	        <li>
	            <a href="{{ path('menu_new', { 'id': entity.id }) }}">Add sub menu</a>
	        </li>
        {% endif %}
    </ul>
    </td>
</tr>
