{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
{# src/Sinett/MLAB/BuilderBundle/Resources/views/Form/fields.html.twig #}
{% extends 'form_div_layout.html.twig' %}

{% block choice_widget %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if apps|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = apps %}
                    
            {% for group_label, choice in options %}
                {% for version in choice.versions %}
                    <option data-imagesrc="{{ url_apps ~ choice.path ~ '/' ~ version.version ~ '/' ~ app_icon_path }}" data-description="{{ choice.name }} ({{ version.version }})" value="{{ choice.id }}.{{ version.id }}">{{ choice.name }}</option>
                {% endfor %}
            {% endfor %}
                    
        </select>
    {% endspaceless %}
{% endblock choice_widget %}

{#
{% block choice_widget %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
                    
            {% for group_label, choice in options %}
                {% for version in choice.data.appVersions %}
                    <option data-imagesrc="{{ url_apps ~ choice.data.path ~ '/' ~ version.version ~ '/' ~ app_icon_path }}" data-description="{{ choice.data.description }} ({{ version.version }})" value="{{ choice.data.id }}.{{ version.id }}">{{ choice.data.name }}</option>
                {% endfor %}
            {% endfor %}
                    
        </select>
    {% endspaceless %}
{% endblock choice_widget %}
#}