{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}
    <h3>Edit groups for {{ component_entity.name }}</h3>

    <form action="{{ path('componentgroup_update_groups',  { 'component_id': component_id }) }}" method="post">
        
        {% for group in groups %}
            <input type="checkbox" class="mlab_edit_compgroup_checkbox" id="sinett_mlab_builderbundle_componentgroup_{{ group.id }}_group_id" name="sinett_mlab_builderbundle_componentgroup[{{ group.id }}][group_id]" value="{{ group.id }}" {% if group.isEnabled == "true" %} checked {% endif %}>
            <label class="mlab_edit_compgroup_checkbox_label" for="sinett_mlab_builderbundle_componentgroup_{{ group.id }}_group_id">{{ group.name }}</label> 
            
            {% if group.credential %}
                <fieldset>
                    <legend>Personalia:</legend> 

                    {% for cred_name, cred_value in group.credential %}   
                        <label for="sinett_mlab_builderbundle_componentgroup_{{ group.id }}_credential_{{ cred_name }}">{{ cred_name }}</label> 
                        <input type="text" id="sinett_mlab_builderbundle_componentgroup_{{ group.id }}_credential_{{ cred_name }}" name="sinett_mlab_builderbundle_componentgroup[{{ group.id }}][credential][{{ cred_name }}]" value="{{ cred_value }}"><br>
                    {% endfor %}
                    
                </fieldset>
            
            {% endif %} 
        {% endfor %}
            
            <input type="submit">
    </form>
   

{% endblock %}
