{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tracking list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Action</th>
                <th>Payload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tracking_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.action }}</td>
                <td>{{ entity.payload }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tracking_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tracking_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
