{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tracking</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ entity.action }}</td>
            </tr>
            <tr>
                <th>Payload</th>
                <td>{{ entity.payload }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tracking') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tracking_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    
</ul>
{% endblock %}
