{% extends '::base.html.twig' %}

{% block body -%}

    <h1>App list</h1>

    <table class="records_list" id="table_app">
        <thead>
            <tr>
                <th>{% trans %}App{% endtrans %}</th>
                <th></th>
                <th>{% trans %}Published{% endtrans %}</th>
                <th>{% trans %}Version{% endtrans %}</th>
                <th>{% trans %}Last updated{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
	        {% for app in apps %}
		        <tr id="row_app_{{ app.id }}">
				    <td class="builder_appname">
				    	<a href="{{ path('app_builder_editor', { 'id': app.id, 'version': app.version, 'page_num': 1 }) }}">{{ app.name }}</a>
				    </td>
				    <td class="builder_app_actions {% if app.locked_pages %}builder_app_locked{% endif %}">
				    	<a class="builder_app_properties" onclick="{% if not app.locked_pages %} editAppProperties({{ app.id }}); {% endif %}return false;"></a>
				    </td>
				    <td class="builder_app_publish_status">
				    	<a class="{% if app.published %}builder_app_published{% else %}builder_app_not_published{% endif %}">&nbsp;</a>
				    	<a class="builder_app_publish" onclick="publishApp({{ app.id }}); return false;">&nbsp;</a>
				    </td>
				    <td>
				    	{{ app.version }}
				    	<a class="builder_app_newversion" href="{{ path('app_builder_copy_app', { 'id': app.id, 'version': app.version }) }}">&nbsp;</a>
				    </td>
				    <td>{% if app.updated %}{{ app.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>
	        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
