{% extends '::editor.html.twig' %}

{% block body -%}

<!-- This is the actual content of the page, very little is required as it is loaded from external files -->	
	<div id="mlab_template_warning"></div>
	
    <div id="mlab_toolbar_components">
	</div>
    
	<div id="mlab_editor_chrome">
		<div id="mlab_editable_area_placeholder"></div>
		<p />
	</div>
    
    <div id="mlab_dialog_confirm" title="Siste forandringer ble ikke lagret" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>MLAb var ikke i stand til å lagre de siste forandringene på denne siden før den kunne gjøre det du ba om. Vil du fortsette uten å lagre, prøve å lagre igjen eller stoppe det du prøvde å gjøre?</p>
    </div>
    <div id="mlab_menu_popup"></div>
    <div id="mlab_app_info"></div>
    <div id="mlab_download_qr" class="hide" onclick="$(this).hide();"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('/js/bowser.js') }}"></script>

    <script type="text/javascript">	 
        document.mlab_temp_app_id = {{ mlab_app_id }};
        document.mlab_temp_page_num = '{{ mlab_app_page_num }}';
        document.mlab_appbuilder_root_url = '{{ mlab_appbuilder_root_url }}';
    </script>

    <script src="{{ asset('/js/mlab_editor.js') }}"></script>
	
{% endblock %}