{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{% trans %}app.builder.list.main.heading{% endtrans %}</h1>
	<p class="builder_welcome">{% trans %}app.builder.list.welcome.info{% endtrans %}</p>
	<p><a class="mlab_button_new_app" href="javascript: mlab_app_new();">{% trans %}app.builder.list.new.app.button{% endtrans %}</a></p>
    <table class="records_list app_list" id="table_app">
        <thead>
            <tr>
                <th>{% trans %}app.builder.list.heading.app{% endtrans %}</th>
                <th class="hidden"></th>
                <th>{% trans %}app.builder.list.heading.version{% endtrans %}</th>
                <th>{% trans %}app.builder.list.heading.last.updated{% endtrans %}</th>
                <th class="mlab_align_center">{% trans %}app.builder.list.heading.published{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
	        {% for app in apps %}
		        {{ include( 'SinettMLABBuilderBundle:App:list.html.twig', { 'app': app } ) }}
	        {% endfor %}
        </tbody>
    </table>
    <div id="builder_dialog_new_app"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('/js/jquery.ddslick-1.0.0.js') }}"></script>
	<script>
		var url_new = "{{ path('app_new') }}";
		var url_edit = "{{ path('app_edit', {id: 0} ) }}";
		
		$(document).ready(function() {

			$("#builder_dialog_new_app").dialog( {
					title: "{% trans %}App details{% endtrans %}",
					autoOpen: false,
				    show: { effect: "blind", duration: 500 },
				    hide: { effect: "blind", duration: 500 },
				    width: 800,
				    height: 670,
				    modal: true,
				});
			
		});

		/**
		 * Opens up the properties dialog and displays a blank form
		*/
		function mlab_app_new () {
			$("#builder_dialog_new_app").load(url_new).dialog("open");
		};
		
		/**
		 * Opens up the properties dialog for a given app, uses the predefined URL and replaces the 0 placeholder
		*/
		function editAppProperties (id) {
			var url_temp = url_edit.replace(/0/ , id);
			console.log(url_temp);
			$("#builder_dialog_new_app").load(url_temp).dialog("open");
		};
        
		/**
		 * submits data for new app from the dialog box where we collect details of the new app  
		 */
		function mlab_app_submit_properties(form) {
			var frm = document.getElementById(form.attr('id'));
			formData = new FormData(frm);
			$("#builder_dialog_new_app").dialog("close");
			$.ajax({
		        url: form.attr( "action" ),  //Server script to process data, should be createAction in app controller 
		        type: 'POST',
		        success: function( data ) {
			    	if (data.result == 'FAILURE') {
			    		alert(data.message);
			    	} else {
//here we update the list of apps with the new app details
                        $(data.html).appendTo("#table_app");
			    	}
			  	},
		        error: function(e) {alert('error'); console.log(e)},
		        // Form data 
		        data: form.serialize(),
		        dataType: "json",
		    });
		}
		
	</script>
{% endblock %}