{% extends '::editor.html.twig' %}

{% block body -%}

    <!-- This is the actual content of the page, very little is required as it is loaded from external files -->
    <div id="mlab_template_warning"></div>

    <div id="mlab_toolbar_components"></div>


    <div id="mlab_page_control">
        <div class="right">Velg side: </div>
        <img id="mlab_page_control_previous" onclick="mlab.dt.management.page_move_to(-1);" src="/img/tools/previous.png">
        <img id="mlab_page_control_next" onclick="mlab.dt.management.page_move_to(1);" src="/img/tools/next.png">
        <h3 id="mlab_page_control_title" onclick="mlab.dt.api.editContent(this);$('#mlab_page_control_title_actions').slideDown();"></h3>

        <div id="mlab_page_control_title_actions" class="mlab_hidden">
            <button id="mlab_page_control_save_title" onclick="$('#mlab_page_control_title_actions').slideUp(); mlab.dt.management.page_update_title();" class="mlab_dt_button_ok_left">Save</button>
            <button id="mlab_page_control_cancel_title" onclick="$('#mlab_page_control_title_actions').slideUp(); $('#mlab_page_control_title').text(mlab.dt.app.curr_pagetitle);" class="mlab_dt_button_cancel_left">Cancel</button>
        </div>
        <img id="mlab_page_control_pagelist" onclick="$('#mlab_page_management').slideToggle();" src="/img/tools/dropdown.png">
        <img id="mlab_page_control_new" onclick="mlab.dt.management.page_new();" src="/img/menu_new_icon.png">

    </div>

    <div id="mlab_page_management" class="mlab_hidden" onclick="$('#mlab_page_management').slideUp();">
        <div id="mlab_existing_pages">
        </div>
        <div id="mlab_page_management_info">
            Klikk på krysset for å permanent slette siden du står på:
            <img id="mlab_page_control_delete" onclick="mlab.dt.management.page_delete();" src="/img/menu_delete_icon.png">
        </div>
    </div>

    <div id="mlab_editor_chrome">
	<div id="mlab_editable_area_placeholder"></div>
	<p />
    </div>

    <div id="mlab_toolbar_for_components" class='mlab_buttons_item_manipulation_list single'>
        <div id='mlab_component_toolbar_heading'>&nbsp;</div>
        <img onclick='mlab.dt.design.component_moveup();'    title='Move selected component up'     id='mlab_button_up'                     src='/img/tools/up.png'         class='mlab_tools' >
        <img onclick='mlab.dt.design.component_movedown();'  title='Move selected component down'   id='mlab_button_down'                   src='/img/tools/down.png'       class='mlab_tools' >
        <img onclick='mlab.dt.design.component_delete();'    title='Delete selected component'      id='mlab_button_delete'                 src='/img/tools/delete.png'     class='mlab_tools' >
        <img                                                 title='Select storage mechanism'       id='mlab_button_select_storage_plugin'  src='/img/tools/storage.png'    class='mlab_tools mlab_tools_space mlab_hidden' >
        <div id='mlab_component_context_menu'></div>
    </div>

    <div id="mlab_storage_plugin_list" style="display: none;">
        
    </div>
    <div id="mlab_dialog_confirm" title="Siste forandringer ble ikke lagret" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>MLAb var ikke i stand til å lagre de siste forandringene på denne siden før den kunne gjøre det du ba om. Vil du fortsette uten å lagre, prøve å lagre igjen eller stoppe det du prøvde å gjøre?</p>
    </div>
    <div id="mlab_overlay"><div class="mlab_modal">Please wait while MLAB is being prepared and app is opened...</div></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('/js/bowser.js') }}"></script>

    <script type="text/javascript">
        //these vars are generated from backend and are required for the initialisation of the mlab object later
        document.mlab_temp_vars = {locale: '{{ app.request.locale }}', app_id: {{ mlab_app_id }}, page_num: '{{ mlab_app_page_num }}', appbuilder_root_url: '{{ mlab_appbuilder_root_url }}' };

        //get the list of components & the component menu to stick to the top when scrollin down
        $(document).ready(function() {
            if (!!$('#mlab_toolbar_components').offset()) { // make sure ".sticky" element exists
                var stickyComponentTop = $('#mlab_toolbar_components').offset().top;
                //TODO calculate this right....
                var stickyComponentToolsTop = $('#mlab_toolbar_for_components').offset().top - 25;
                var stickyComponentToolsLeft = 635; //this is 345 when starting but when scrolling it shifts down and needs 290 more...
                
                $(document).scroll(function(){ // scroll event
                    var windowTop = $(window).scrollTop(); // returns number

                    if (stickyComponentTop + 1 < stickyComponentTop + windowTop) {
                        $('#mlab_toolbar_components ').css({ position: 'fixed', top: stickyComponentTop });
                        $('#mlab_toolbar_for_components').css({ position: 'fixed', top: stickyComponentToolsTop, left: stickyComponentToolsLeft });
                    }
                    else {
                        $('#mlab_toolbar_components #mlab_toolbar_for_components').css('position','static');
                    }
                });
            }
       });
    </script>

    <script src="{{ asset('/js/mlab.api.js') }}"></script>
    <script src="{{ asset('/js/mlab.dt.api.js') }}"></script>
    <script src="{{ asset('/js/mlab.dt.management.js') }}"></script>
    <script src="{{ asset('/js/mlab.dt.bestpractice.js') }}"></script>
    <script src="{{ asset('/js/mlab.dt.design.js') }}"></script>
    <script src="{{ asset('/js/mlab.dt.utils.js') }}"></script>
    <script src="{{ asset('/js/mlab_editor.init.js') }}"></script>

{% endblock %}