<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>{% block title %}{% trans %}mlab.page.title.app.bulider.editor{% endtrans %}{% endblock %}</title>
{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.

#}
        {% block stylesheets %}
            <link href='{{ asset("/css/reset.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/mlab_reset_editor.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/jquery-ui.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/jquery.qtip.nightly.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/jquery.uploadfile-4.0.11.css") }}' rel='stylesheet' />
            <!-- <link href='{{ asset("/css/jquery.uploadfile.css") }}' rel='stylesheet' /> -->
            <link href='{{ asset("/css/mlab_all.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/mlab_menu.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/mlab_editor.css") }}' rel='stylesheet' />
            <link href='{{ asset("/css/mlab_component_config.css") }}' rel='stylesheet' />
        {% endblock %}
            
        {% block javascripts %}
            <script src='{{ asset('/js/jquery-2.1.4.js') }}'></script>
            <script src='{{ asset('/js/jquery.mobile-1.4.5.js') }}'></script>
            <script src='{{ asset('/js/jquery.ui-1.11.4.js') }}'></script>
            <!-- <script src='{{ asset('/js/jquery.uploadfile-4.0.11.js') }}'></script> -->
            <script src='{{ asset('/js/jquery.form.js') }}'></script>
            <script src='{{ asset('/js/jquery.uploadfile-4.0.11.js') }}'></script>
            <script src='{{ asset('/js/jquery.qtip.nightly.js') }}'></script>
            <script src='{{ asset('/js/jquery.ddslick-1.0.0.js') }}'></script>
            <script src='{{ asset('/js/jquery.qrcode-0.12.0.js') }}'></script>
            <script src='{{ asset('/js/jquery.contextmenu-1.0.0.js') }}'></script>
            <script src='{{ asset('/js/spin.js') }}'></script>
            <script src='{{ asset('/js/jquery.spin.js') }}'></script>
            <script src='{{ asset('/js/bowser.js') }}'></script>

            <script type='text/javascript'>
                //these vars are generated from backend and are required for the initialisation of the mlab object later
                document.mlab_temp_vars = {locale: '{{ app.request.locale }}', app_id: {{ mlab_app_id }}, page_num: '{{ mlab_app_page_num }}', appbuilder_root_url: '{{ mlab_appbuilder_root_url }}' };
                _tr = {{ mlab_translations|raw }};
                
                //opens page help from a url and displays it in a qtip
                function page_help(event) {
                    var qTipClasses = 'qtip-light mlab_dt_box_style mlab_zindex_top_tooltip mlab_page_help_qTip mlab_dt_wide_qtip_box';
                    var title = "{% trans %}mlab.dt.design.js.qtip.help.title{% endtrans %}";
                    var owner = event.currentTarget;
                    var url = "{{ path('help_getHtml', {route: app.request.attributes.get('_route')}) }}";
                    $.getJSON(url, function(data) {
                        if (data.result == "SUCCESS") {
                            $(owner).qtip({
                                solo: false,
                                content:    {
                                              text: data.html,
                                              title: title,
                                              button: true
                                            },
                                position:   { my: 'topRight', at: 'bottomMiddle', adjust: { screen: true }, effect: false },
                                show:       { ready: true, modal: { on: false } },
                                hide:       false,
                                style:      { classes: qTipClasses },
                                events:     {   hide: function(event, api) { api.destroy(); } }
                            });
                        } else {
                            alert("{% trans %}mlab.dt.design.js.alert.help.notfound{% endtrans %}");
                        }
                    });
                }
            </script>
            {% if app.debug %}
                {% javascripts '@editor_mlab_js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts '@editor_mlab_js' filter='uglifyjs2' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock %}
            
            
            
        <link rel='icon' type='image/x-icon' href='{{ asset('favicon.png') }}' />
    </head>
    

    <body id='mlab_editor'>
    	<div class='mlab_min_page_width'>
    		<div class='mlab_align_menu_elements'>
                <div class='mlab_permanent_top_menu mlab_gradient'>
                    <ul id='mlab_menu'>
                        <li>
                            <a target='_top' href='{{ path('app_builder_index')}}'>
                                <div id='mlab_menu_dropdown'>
                                    <img class='mlab_basic_menu_drop' title='{% trans %}build_app.menu.tooltip.back.app.list{% endtrans %}' src='/img/logo_menu.png' alt='logo' />
                                </div>
                            </a>
                        </li>  <!-- The Mlab log -->
    
                        <li id='mlab_editor_menu_dropdown'>    
                            <img class='basic_menu_icon' title='{% trans %}app.builder.edit.menu.tooltip{% endtrans %}' src='/img/menu_icon.png' alt='logo' > 
                        </li>
                         <div id='mlab_editor_menu_dropdown_content' class='dropdown_editor_menu'><!-- Editor menu container -->
                            <div class='mlab_one_col'> <!-- Navigate col -->
                                <h3>{% trans %}app.builder.menu.heading.links{% endtrans %}</h3>

                                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %} <!-- Finds the page you are on -->

                                {% if app.user == null %} <!-- If not loged in -->
                                    <p>{% trans %}app.builder.menu.login.info{% endtrans %}:<br>
                                        <a target='_top' href='{{ path('fos_user_security_login') }}'>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    </p>

                                {% else %} <!-- If loged in -->
                                    {% if app.user.roles[0] != "ROLE_USER" or path('app_builder_index') not in currentPath %} <!-- If no liks to show - hide the links info -->
                                        <p>{% trans %}app.builder.menu.links.info{% endtrans %}:</p>
                                    {% endif %} 

                                    <!-- if path('app_builder_index') not in currentPath  %} If on app list page - don't show the link to this page  -->
                                    <a target='_top' href='{{ path('app_builder_index')}}'>{% trans %}app.builder.menu.link.app.builder{% endtrans %}</a>


                                    {% if is_granted("ROLE_ADMIN") %} <!-- Show this links if not on the page and have the role ROLE_ADMIN or higher  -->
                                        {%  if path('admin_apps') not in currentPath  %}
                                            <a target='_top' href='{{ path('admin_apps')}}'>{% trans %}app.builder.menu.link.admin.app{% endtrans %}</a>
                                        {% endif %} 
                                        {% if path('admin_users') not in currentPath %}
                                            <a target='_top' href='{{ path('admin_users')}}'>{% trans %}app.builder.menu.link.admin.users{% endtrans %}</a>
                                        {% endif %} 
                                    {% endif %} 

                                    {% if is_granted("ROLE_SUPER_ADMIN") %} <!-- Show this link if not on the page and have the role ROLE_SUPER_ADMIN  -->
                                        {% if path('system') not in currentPath %}
                                                <a target='_top' href='{{ path('system')}}'>{% trans %}app.builder.menu.link.system{% endtrans %}</a>
                                        {% endif %}
                                    {% endif %}

                                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                                                <br>
                                    {% endif %}

                                    {% if path('app_builder_index') in currentPath  %} <!-- If on app list page - show the info  -->
                                                <p>{% trans %}app.builder.menu.links.app.info{% endtrans %}</p><br>
                                    {% endif %} 
                                {% endif %}
                                                
                                 <h3>{% trans %}app.builder.menu.heading.save{% endtrans %}</h3>   
                                 <p>{% trans %}app.builder.menu.save.info{% endtrans %}</p>
                                 <a id='mlab_page_save_all'>
                                    <div class='mlab_save_icon' title='{% trans %}app.builder.menu.save.tooltip{% endtrans %}'></div>
                                </a>  
                            </div> <!-- End Navigate & Save col -->
                            

                            <div class='mlab_one_col'> <!-- Testing col -->
                                <div class='mlab_end_appbuilder'>
                                    <h3>{% trans %}app.builder.edit.menu.heading.test.app{% endtrans %}</h3>
                                    <h4>{% trans %}app.builder.edit.menu.heading.test.app.web{% endtrans %}</h4>
                                    <p>{% trans %}app.builder.edit.menu.test.app.web.info{% endtrans %}</p>
                                            <a href='javascript: mlab.dt.management.page_preview();'>
                                                <div id='mlab_preview_icon' title='{% trans %}build_app.menu.tooltip.test.app.web{% endtrans %}'></div>
                                            </a> 
                                    </br>
                                    <h4>{% trans %}app.builder.edit.menu.heading.test.app.mob{% endtrans %}</h4>
                                    <p>{% trans %}app.builder.edit.menu.test.app.mob.info{% endtrans %}</p>
                                    <div id='mlab_download_qr2'><p class='qr_wait_text'>{% trans %}app.builder.edit.menu.test.app.mob.qr.wait.text{% endtrans %}</p>
                                    </div>

                {# 
                    here we use a variable from the /app/config/config.yml file which points to the /app/config/parameters.yml entry mlab.compiler_service.supported_platforms 
                    this variable is an array so we loop through it
                #}
                                    {% for platform in mlab_variables.compiler_service.supported_platforms %}
                                        <a href='javascript: mlab.dt.management.compiler.get_app("{{ platform }}");'>
                                            <div id='mlab_download_{{ platform }}_icon' class='mlab_compile_button mlab_download_{{ platform }}_icon' title='{{ 'app.builder.edit.menu.test.app.mob.tooltip'|trans({'%platform%': platform}) }}'>
                                                <img class='mlab_hidden' src='/img/spinner.gif'>
                                            </div> 
                                        </a> 
                                        <div data-mlab-download-link-info='{{ platform }}'>
                                            <div id='mlab_download_qr_link_{{ platform }}' class='mlab_download_qr_link'>&nbsp;</div>
                                            <div id='mlab_download_link_{{ platform }}'class='mlab_download_link'>&nbsp;</div>
                                        </div>
                                    {% endfor %}                             
                                </div>
                            </div> <!-- End Testing col -->
                            

                              <div class='mlab_one_col'> <!-- Feature col -->
                                <div class='mlab_sub_menu'>
                                    <h3>{% trans %}app.builder.edit.menu.heading.download.source{% endtrans %}</h3>
                                    <p> {% trans %}app.builder.edit.menu.download.source.info{% endtrans %}</p>
                                    <a href='javascript: mlab.dt.management.compiler.get_app_source();'>
                                        <div class='mlab_source_code_icon' title='{% trans %}app.builder.edit.menu.heading.download.source{% endtrans %}'></div>
                                    </a>
                                    
                                    <br><br>
                                    <h3>{% trans %}app.builder.edit.menu.heading.delete.locks{% endtrans %}</h3>
                                    <p> {% trans %}app.builder.edit.menu.delete.locks.info{% endtrans %}</p>
                                    <a href='javascript: mlab.dt.management.app_remove_locks();'>
                                        <div class='mlab_unlock_icon' title='{% trans %}app.builder.edit.menu.heading.delete.locks{% endtrans %}'></div>
                                    </a>
                                </div>
                            </div> <!-- End Feature col -->
                            
                            
                            <div class='mlab_three_col'> <!-- Developed by col -->
                                <h3></h3>
                                <p class="left">Developed by the Sinett project at FFI.no</p> <p id="mlab_credit_icons" class="right mlab_credit_icons">Credit for icones downloaded from flaticon.com</p>
                            </div> <!-- End Developed by col -->
                        </div><!-- End Editor menu container -->
                        
                        <li class='single'><div class='mlab_statusbar_permanent_label'>{% trans %}app.builder.statusbar.info.permanent.label{% endtrans %}:</div></li>
                        <li class='single'><div id='mlab_statusbar_permanent' title='{% trans %}app.builder.edit.menu.tooltip.app.name{% endtrans %}'>{% trans %}app.builder.statusbar.info.permanent{% endtrans %}</div></li>
                        <li class='single'><div id='mlab_statusbar_progress_spin'>&nbsp;</div></li>
                        <li class='single'><div id='mlab_statusbar_temporary'>&nbsp;</div></li>
                        <li class='single'><div id='mlab_statusbar_compiler'>&nbsp;</div></li>
                        <li class='single'><div id='mlab_statusbar_progressbar'><progress id='mlab_progressbar' class='mlab_progressbar' value='10' max='100'></progress></div></li>
                        <li class='single menu_right'><img id='mlab_page_help' class='mlab_help_icon' src='/img/help.png' title='{% trans %}app.builder.help.menu.tooltip{% endtrans %}' alt='logo'></li>
                        
                        <li id='mlab_user_menu_dropdown' class='menu_right'>
                            <img class='mlab_user_info_icon' src='/img/user.png' title='{% trans %}app.builder.menu.user.info.main.tooltip{% endtrans %}' alt='logo' >
                        </li>
                        <div id='mlab_user_menu_dropdown_content' class='dropdown_user_menu'><!-- User menu container -->
                            <div class='mlab_one_user_col'> <!-- User col -->
                                <h3>{% trans %}app.builder.menu.user.info.heading{% endtrans %}</h3>
                                {% if app.user == null %} <!-- If not loged in -->
                                    <p>{% trans %}app.builder.menu.login.info{% endtrans %}:<br>
                                        <a target='_top' href='{{ path('fos_user_security_login') }}'>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    </p>
                                {% else %} <!-- If logged in -->
                                    <p>{% trans %}app.builder.menu.log.info{% endtrans %}:<br>
                                        <b>{{ app.user.username }}</b><br><br>
                                    <a target='_top' href='{{ path('fos_user_security_logout') }}'>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></p>
                                {% endif %}
                            </div>
                        </div><!-- End User menu container -->                       
                    </ul>
                    
                     <div id='mlab_page_control'>
                            <div class='mlab_page_control_label'>{% trans %}app.builder.page.heading{% endtrans %}:</div>
                            <h3 id='mlab_page_control_title' title='{% trans %}app.builder.page.tooltip.page.name{% endtrans %}'></h3>
                            <div id='mlab_page_control_title_actions' class='mlab_hidden'>
                                <button id='mlab_page_control_save_title' class='mlab_dt_button_ok_left' title='{% trans %}app.builder.page.tooltip.save{% endtrans %}'>{% trans %}app.builder.page.save{% endtrans %}</button>
                                <button id='mlab_page_control_cancel_title' class='mlab_dt_button_cancel_left' title='{% trans %}app.builder.page.tooltip.cancel{% endtrans %}'>{% trans %}app.builder.page.cancel{% endtrans %}</button>
                            </div>
                            <img id='mlab_page_control_pagelist' src='/img/tools/dropdown.png' title='{% trans %}app.builder.page.tooltip.pagelist{% endtrans %}'>
                            <img data-mlab-comp-tool='redo' class='mlab_tools mlab_button_redo' src='/img/tools/redo.png' title='{% trans %}build_app.page.tooltip.redo{% endtrans %}'>
                            <img data-mlab-comp-tool='undo' class='mlab_tools mlab_tools_space mlab_button_undo' src='/img/tools/undo.png' title='{% trans %}build_app.page.tooltip.undo{% endtrans %}'> 
                            <img id='mlab_page_control_new' src='/img/menu_new_icon.png' title='{% trans %}app.builder.page.tooltip.new{% endtrans %}'>
                            <img id='mlab_page_control_import' src='/img/menu_copy_icon.png' title='{% trans %}app.builder.page.tooltip.import{% endtrans %}' >
                            
                    </div>
                 </div>

                    <div id='mlab_page_management'>
                        <div id='mlab_existing_pages'></div>
                        <div id='mlab_page_management_info'>
                            {% trans %}app.builder.page.menu.delete.info{% endtrans %}:
                            <img id='mlab_page_control_delete' src='/img/delete_page.png' title='{% trans %}app.builder.page.menu.delete{% endtrans %}'>
                        </div>
                    </div>
                </div>
                
                    <div class='container'>
                         <!-- This is the actual content of the page, very little is required as it is loaded from external files -->
                        <div id='mlab_template_warning'></div>

                        <div id='mlab_toolbar_components'></div>

                        <div id='mlab_editor_chrome'>
                        <div id='mlab_editable_area_placeholder'></div>
                        <p />
                        </div>

                        <div id='mlab_toolbar_for_components' class='mlab_toolbar_for_components mlab_buttons_item_manipulation_list single mlab_hidden' style='display: none'>
                            <div id='mlab_component_toolbar_heading'    class='mlab_component_toolbar_heading'>Tools</div>
                            <img data-mlab-comp-tool='move_up'          class='mlab_tools_all' src='/img/tools/up.png'         title='{% trans %}build_app.components.toolbar.tooltip.move.up{% endtrans %}'>
                            <img data-mlab-comp-tool='move_down'        class='mlab_tools_all' src='/img/tools/down.png'       title='{% trans %}build_app.components.toolbar.tooltip.move.down{% endtrans %}'>
                            <img data-mlab-comp-tool='delete'           class='mlab_tools_all' src='/img/tools/delete.png'     title='{% trans %}build_app.components.toolbar.tooltip.delete{% endtrans %}'>
                            <img data-mlab-comp-tool='help'             class='mlab_tools_all' src='/img/tools/help.png'       title='{% trans %}build_app.components.toolbar.tooltip.help{% endtrans %}'>
                            <img data-mlab-comp-tool='cut'              class='mlab_tools_all' src='/img/tools/cut.png'   title='{% trans %}build_app.components.toolbar.tooltip.cut{% endtrans %}'>
                            <img data-mlab-comp-tool='copy'             class='mlab_tools_all' src='/img/tools/copy.png'  title='{% trans %}build_app.components.toolbar.tooltip.copy{% endtrans %}'>
                            <img data-mlab-comp-tool='paste'            class='mlab_tools_all' src='/img/tools/paste.png' title='{% trans %}build_app.components.toolbar.tooltip.paste{% endtrans %}'>
                            <hr  class='mlab_tools_line' >
                            <img data-mlab-comp-tool='comp_size'        class='mlab_tools mlab_hidden'                  src='/img/tools/resize.png'      title='{% trans %}build_app.components.toolbar.tooltip.resize{% endtrans %}'>
                            <img data-mlab-comp-tool='comp_aspect'      class='mlab_tools mlab_hidden'                  src='/img/tools/aspect.png'      title='{% trans %}build_app.components.toolbar.tooltip.aspect.ratio{% endtrans %}'>
                            <img data-mlab-comp-tool='storage_plugin'   class='mlab_tools mlab_tools_space mlab_hidden' src='/img/tools/storage.png'     title='{% trans %}build_app.components.toolbar.tooltip.storage{% endtrans %}'>
                            <img data-mlab-comp-tool='credentials'      class='mlab_tools mlab_tools_space mlab_hidden' src='/img/tools/credentials.png' title='{% trans %}build_app.components.toolbar.tooltip.credentials{% endtrans %}'>
                            
                            <div data-mlab-get-info='storage_plugins'   class='mlab_hidden'></div>
                            <div data-mlab-get-info='credentials'       class='mlab_hidden'></div>
                            <div class='mlab_component_context_menu'></div>
                            <div class='mlab_newline'>&nbsp;</div>
                        </div>

<!--SPSP                        <div id='mlab_storage_plugin_list' style='display: none;'></div> -->

                        <div id='mlab_component_size_list' data-mlab-get-info='comp_sizes' style='display: none;'>
                            <ul>
                                <li data-mlab-comp-size='small'>{% trans %}build_app.components.toolbar.component.size.small{% endtrans %}</li>
                                <li data-mlab-comp-size='medium'>{% trans %}build_app.components.toolbar.component.size.medium{% endtrans %}</li>
                                <li data-mlab-comp-size='large'>{% trans %}build_app.components.toolbar.component.size.large{% endtrans %}</li>
                            </ul>
                        </div>

                        <div id='mlab_component_aspect_list' data-mlab-get-info='comp_aspects' style='display: none;'>
                            <ul>
                                <li data-mlab-comp-aspect='4:3'>{% trans %}build_app.components.toolbar.component.aspect.4.3{% endtrans %}</li>
                                <li data-mlab-comp-aspect='16:9'>{% trans %}build_app.components.toolbar.component.aspect.16.9{% endtrans %}</li>
                                <li data-mlab-comp-aspect='1:1'>{% trans %}build_app.components.toolbar.component.aspect.1.1{% endtrans %}</li>
                            </ul>
                        </div>

                        <div id='mlab_dialog_confirm' class="mlab_hidden" title='{% trans %}build_app.tooltip.not.saved{% endtrans %}'>
                            <p><span class='ui-icon ui-icon-alert mlab_dialog_confirm_text'>{% trans %}build_app.not.saved{% endtrans %}</span></p>
                        </div>

                        <div id='mlab_dialog_delete' class="mlab_hidden" title='{% trans %}build_app.dialog.delete.title{% endtrans %}'>
                            <p><span class='ui-icon ui-icon-alert'></span>{% trans %}build_app.dialog.delete.text{% endtrans %}</p>
                        </div>

                        <div id='mlab_dialog_import' class="mlab_hidden" title='{% trans %}app.builder.page.import{% endtrans %}'>
                            <form id="mlab_form_import_file" name="mlab_form_import_file">
                                <input type="file" id="mlabImportFile" name="mlabImportFile">
                                <input type="hidden" id="mlabImportAppId" name="app_id">
                                <button class='mlab_dt_button_ok_left' title='{% trans %}app.builder.page.tooltip.import{% endtrans %}' onclick="$('#mlabImportAppId').val(mlab.dt.app.id); mlab.dt.management.file_import(); return false;">{% trans %}mlab.dt.api.js.uploadMedia.qtip.content.5{% endtrans %}</button>
                            </form>
                        </div>

                        <div id='mlab_overlay'><div class='mlab_modal'>{% trans %}app.builder.overlay.info{% endtrans %}</div></div>
                        <div style='clear: both;'>&nbsp;</div>
                    </div>
               
	        </div>
        </div>
        <div class='mlab_editor_footer'>
             <img id='mlab_button_help' class='mlab_editor_footer_help_icon mlab_button_help' src='/img/helpIcon.png' title='{% trans %}build_app.footer.tooltip.help{% endtrans %}'>
             <div class='mlab_editor_footer_help'>{% trans %}build_app.footer.help{% endtrans %}</div>
        </div>
    </body>
</html>
