{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
                <tr id="row_app_{{ app.id }}">
				  
                    <td class="builder_app_list_properties" title="{% trans %}app.builder.list.tooltip.properties{% endtrans %} {{ app.name }}">
				    	<div class="builder_app_properties" onmousedown="mlab_set_app_id({{ app.id }});"></div>
				    </td>
                    <td class="builder_app_list_icon"><a href="{{ path('app_builder_editor', { 'id': app.id, 'page_num': 'last' }) }}"><img data-mlab-icon-id="{{ app.id }}" src="{{ app_url ~ app.path ~ "/" ~ app.active_version ~ "/" ~ app_icon }}"></a></td>
                    <td class="builder_app_list_name mlab_max_width_medium" title="{% trans %}app.builder.list.tooltip.name{% endtrans %}">
                        <a href="{{ path('app_builder_editor', { 'id': app.id, 'page_num': 'last' }) }}">{{ app.name }}</a>
				    </td>
                    
				    <td class="mlab_align_center">
                        <select onchange="mlab_set_active_version(this, {{ app.id }}, {{ app.active_version }});" data-mlab-dropdown-id="{{ app.id }}" >
                            {% for v in app.versions %}
                                <option value='{{ v.version }}' {{ v.version == app.active_version ? " selected='selected' " : "" }}>{{ v.version }}</option>
                            {% endfor %}
                        </select>
				    </td>
                    
                    <td class="mlab_align_center" title="{% if app.updated %}{{ app.updated|date('Y-m-d H:i:s') }}{% endif %}">
                        {% if app.updated %}
                            {{ app.updated|date('d.m.y') }}
                        {% endif %}
                    </td>
                    
			    	{# TODO: fix this constant stuff #}
				    <td class="mlab_align_center {% if app.published == 0 %}builder_app_not_published{% elseif app.published == 1 %}builder_app_old_version_published{% else %}builder_app_current_version_published{% endif %}">
				    </td>
				</tr>