{% extends app.request.xmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block body -%}

    <h1>App list</h1>

    <table class="records_list" id="table_app">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
	        {% for app in entities %}
		        <tr id="row_app_{{ app.id }}">
				    <td>{{ app.name }}</td>
				    <td>{{ app.version }}</td>
				    <td>{% if app.updated %}{{ app.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
				    <td>{{ app.groups|join(":") }}</td>
				    <td>
				    <ul>
				        <li>
				            <a href="{{ path('app_delete', { 'id': app.id }) }}">delete</a>
				        </li>
				        <li>
				            <a href="{{ path('app_edit', { 'id': app.id }) }}">edit</a>
				        </li>
				        <li>
				            <a href="{{ path('app_remove_from_appstore', { 'id': app.id }) }}">remove from app store</a>
				        </li>
				        <li>
				            <a href="{{ path('app_recall', { 'id': app.id }) }}">recall</a>
				        </li>
				    </ul>
				    </td>
				</tr>

	        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
