{#
@copyright Copyright (c) 2013-2020, Norwegian Defence Research Establishment (FFI)
@license Licensed under the Apache License, Version 2.0 (For the full copyright and license information, please view the /LICENSE_MLAB file that was distributed with this source code)
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)


was: <option value="{{ url }}">{{ file }}</option>
#}
    <option>&nbsp;</option>
    {% for file in files %}
        <option {% if file.preview is not null %}data-imagesrc="{{ file.preview }}"{% endif %} data-description="{{ file.name }}" value="{{ file.url }}">{{ file.name }}</option>
    {% endfor %}
