<div id="mlab_existing_pages">
    <ul>
        {% for fil, title in pages  %}
        <li><a href="javascript:mlab.dt.management.page_open({{ app_id }}, {{ fil }});">{{ title }}</a>&nbsp;<a class="mlab_copy_file" href="javascript:mlab.dt.management.page_copy({{ app_id }}, {{ fil }});">&nbsp;</a></li>
        {% endfor %}
    </ul>
</div>
