<tr id="row_app_{{ entity.id }}">
    
    <td>
    	<a href="{{ path('app_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.app.tooltip.name{% endtrans %}">
    		{{ entity.name }}
   		</a>
    </td>
    
    <td class="mlab_td_align">{{ entity.version }}</td>
    
    <td>{{ entity.description }}</td>
    
    <td title="{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}">
    {% if entity.updated %}
    		{{ entity.updated|date('d.m.y H:i') }}
    	{% endif %}
    </td>
    
    <td>{{ entity.groups|join(", ") }}</td>
    
    <td>
    	<a href="{{ path('app_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.app.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
    <ul>
        <li>
            <a href="{{ path('app_remove_from_appstore', { 'id': entity.id }) }}">remove from app store</a>
        </li>
        <li>
            <a href="{{ path('app_recall', { 'id': entity.id }) }}">recall</a>
        </li>
    </ul>
    </td>
</tr>