{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
<tr id="row_app_{{ entity.id }}">
    
    <td>
    	<a href="{{ path('app_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.app.tooltip.name{% endtrans %}">
    		{{ entity.name }}
   		</a>
    </td>
    
    <td class="mlab_td_align">{{ entity.version }}</td>
    
    <td>{{ entity.description }}</td>
    
    <td title="{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}">
    {% if entity.updated %}
    		{{ entity.updated|date('d.m.y H:i') }}
    	{% endif %}
    </td>
    
    <td>{{ entity.groups|join(", ") }}</td>
    
    <td>
    	<a href="{{ path('app_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.app.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
        <ul>
            <li>
                <a href="{{ path('app_remove_from_appstore', { 'id': entity.id }) }}">{% trans %}show.remove.from.app.store{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('app_recall', { 'id': entity.id }) }}">{% trans %}show.recall.from.app.store{% endtrans %}</a>
            </li>
        </ul>
    </td>
</tr>