{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div style="width:250px">   
<form id="fos_user_security_check" action="{{ path("fos_user_security_check") }}" method="post" style="display: none">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />
 
    <label for="locale">{% trans %}select.locale{% endtrans %}</label>
    <select id="locale" name="_locale" >
        {% for code, name in supported_locales %}
            <option value="{{ code }}" {% if code == app.request.cookies.get('mlab_persistent_locale') %}  selected="selected"{% endif %}>{{ name }}</li>
        {% endfor %}
    </select>
 
    <label for="submit"></label>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    
</form>
     </div>
{% endblock fos_user_content %}
