<tr id="row_user_{{ entity.id }}">
    <td>{{ entity.username }}</td>
    <td>{{ entity.email }}</td>
    <td>{{ entity.enabled }}</td>
    <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ entity.expired }}</td>
    <td>{{ entity.roles|join(',') }}</td>
    <td>{{ entity.groups|join(':') }}</td>
    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('user_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
        </li>
    </ul>
    </td>
</tr>
