{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
<tr id="row_user_{{ entity.id }}" class="row_activ_{{ entity.enabled }}">

{% if entity.roles %}
	{% if entity.roles[0] == "ROLE_SUPER_ADMIN" %}
   		<td class="mlab_icon_role_super_admin" title="{% trans %}app.admin.users.tooltip.username{% endtrans %}: {{ entity.username }}">
	{% elseif entity.roles[0] == "ROLE_ADMIN" %}
		<td class="mlab_icon_role_admin" title="{% trans %}app.admin.users.tooltip.username{% endtrans %}: {{ entity.username }}">
	{% else %}
    	<td class="mlab_icon_role_rest" title="{% trans %}app.admin.users.tooltip.username{% endtrans %}: {{ entity.username }}">
    {% endif %}
    	{% else %}
    	<td class="mlab_icon_role_none" title="{% trans %}app.admin.users.tooltip.username{% endtrans %}: {{ entity.username }}">
    {% endif %}
      
    	<a href="{{ path('user_edit', { 'id': entity.id }) }}">
    		{{ entity.username }}
    	</a>
    </td>

    
    <td class="mlab_max_width_medium">{{ entity.email }}</td>
    
    <td class="mlab_max_width_long"> {{ entity.groups|join(', ') }} </td>
    
    {% if entity.lastLogin %}
    	<td title="{{ entity.lastLogin|date('Y-m-d H:i:s') }}">{{ entity.lastLogin|date('Y-m-d') }}</td>
    {% else %}
    	<td>-</td>
    {% endif %}
    
    <td class="mlab_align_center">
        <a href="{{ path('user_toggle_state', { 'id': entity.id }) }}" class="mlab_icon_{{ entity.enabled == true ? "enabled" : "disabled" }}" ></a>
    </td>
        
    <td>
    	<a href="{{ path('user_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.users.tooltip.delete{% endtrans %}: {{ entity.username }}"></a>
    </td>
</tr>
