<tr id="row_group_{{ entity.id }}">
    <td>{{ entity.name }}</td>
    <td>{{ entity.description }}</td>
    <td>{{ entity.isDefault }}</td>
    <td>{{ entity.Enabled }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('group_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('group_edit', { 'id': entity.id }) }}">edit</a>
        </li>
    </ul>
    </td>
</tr>
