<tr id="row_group_{{ entity.id }}">

	<td>
    	<a href="{{ path('group_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.groups.tooltip.name{% endtrans %}">
    		{{ entity.name }}
   		</a>
    </td>

	<td>{{ entity.description }}</td>
	
	<td>
		<a href="{{ path('group_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.groups.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
	</td>
    
</tr>