{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
<tr id="row_group_{{ entity.id }}">

	<td class="mlab_max_width_medium">
    	<a href="{{ path('group_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.groups.tooltip.name{% endtrans %}">
    		{{ entity.name }}
   		</a>
    </td>

	<td class="mlab_max_width_extra_long">{{ entity.description }}</td>
	
    <td class="mlab_align_center">
        <a href="{{ path('group_toggle_state', { 'id': entity.id }) }}" class="mlab_icon_{{ entity.enabled == true ? "enabled" : "disabled" }}" ></a>
    </td>
    
	<td>
		<a href="{{ path('group_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.groups.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
	</td>
    
</tr>