{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
<div class='treeview {{ path('category_delete', { 'id': entity.id }) }}' id='row_category_{{entity.id}}'>
	<a href="{{ path('category_edit', { 'id': entity.id }) }}">{{ entity.name }}</a> 
	<a class="tree_add" href="{{ path('category_new', { 'id': entity.id }) }}">{% trans %}category.show.add{% endtrans %}</a>
	<a class="tree_delete" href="{{ path('category_delete', { 'id': entity.id }) }}">{% trans %}category.show.delete{% endtrans %}</a>
</div>