<tr id="row_template_{{ entity.id }}">

    <td>
    	<a href="{{ path('template_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.templates.tooltip.name{% endtrans %}">
    		{{ entity.name }}
   		</a>
    </td>
    
    <td>{{ entity.version }}</td>
    <td>{{ entity.description }}</td>
    <td>{{ entity.groups|join(", ") }}</td>
    <td>
        <a href="{{ path('template_toggle_state', { 'id': entity.id }) }}" class="mlab_icon_enabled_{{ entity.enabled == true }}" title="{% trans %}app.admin.templates.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
    </td>
    <td>
		{% if entity.canDelete %}
            <a href="{{ path('template_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.templates.tooltip.delete{% endtrans %}: {{ entity.name }}"></a>
        {% endif %}
	</td>

</tr>
