{#
@copyright Copyright (c) 2013-2016, Norwegian Defence Research Establishment (FFI) - All Rights Reserved
@license Proprietary and confidential
@author Cecilie Jackbo Gran/Sinett 3.0 programme (firstname.middlename.lastname@ffi.no)
@author Arild Bergh/Sinett 3.0 programme (firstname.lastname@ffi.no)

Unauthorized copying of this file, via any medium is strictly prohibited 

For the full copyright and license information, please view the LICENSE_MLAB file that was distributed with this source code.
#}
<tr id="row_template_{{ entity.id }}">

    <td>{{ entity.name }}</td>
    <td class="mlab_align_center">{% if entity.version == null %} 1 {% else %}{{ entity.version }}{% endif %} </td>
    <td class="mlab_max_width_long">{{ entity.description }}</td>
    <td class="mlab_max_width_medium">
        <a href="{{ path('template_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.templates.tooltip.group{% endtrans %} '{{ entity.name }}'">
            {% if entity.groupNames is empty %} <!-- If no group -->
               {% trans %}app.admin.components.no.group{% endtrans %}
            {% else %} <!-- If have groups -->
                {{ entity.groupNames|raw }}
            {% endif %} 
        </a>
    </td>
    {% if is_granted("ROLE_SUPER_ADMIN") %} <!-- Show this column only for ROLE_SUPER_ADMIN  -->
        <td class="mlab_align_center">
            <a href="{{ path('template_toggle_state', { 'id': entity.id }) }}" class="mlab_icon_{{ entity.enabled == true ? "enabled" : "disabled" }}" ></a>
        </td>
        <td>
            {% if entity.canDelete %}
                <a href="{{ path('template_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.templates.tooltip.delete{% endtrans %} '{{ entity.name }}'"></a>
            {% endif %}
        </td>
    {% endif %}

</tr>
