<tr id="row_template_{{ entity.id }}">

    <td>{{ entity.name }}</td>
    <td class="mlab_align_center">{% if entity.version == null %} 1 {% else %}{{ entity.version }}{% endif %} </td>
    <td class="mlab_td_max_size_2">{{ entity.description }}</td>
    <td class="mlab_td_max_size">
        <a href="{{ path('template_edit', { 'id': entity.id }) }}" title="{% trans %}app.admin.templates.tooltip.group{% endtrans %} '{{ entity.name }}'">
            {{ entity.groups|join(", ") }}
        </a>
    </td>
    <td class="mlab_align_center">
        <a href="{{ path('template_toggle_state', { 'id': entity.id }) }}" class="mlab_icon_enabled_{{ entity.enabled == true }}" ></a>
    </td>
    <td>
		{% if entity.canDelete %}
            <a href="{{ path('template_delete', { 'id': entity.id }) }}" class="mlab_icon_delete" title="{% trans %}app.admin.templates.tooltip.delete{% endtrans %} '{{ entity.name }}'"></a>
        {% endif %}
	</td>

</tr>
