<tr id="row_template_{{ entity.id }}">
    <td>{{ entity.name }}</td>
    <td>{{ entity.version }}</td>
    <td>{{ entity.description }}</td>
    <td>{{ entity.compatibleWith }}</td>
    <td>{{ entity.groups|join(":") }}</td>
    <td>
    <ul>
        <li>
            <a href="{{ path('template_delete', { 'id': entity.id }) }}">delete</a>
        </li>
        <li>
            <a href="{{ path('template_edit', { 'id': entity.id }) }}">edit access</a>
        </li>
    </ul>
    </td>
</tr>
